
<div class ="row">

<div class="col">
<div class="card" style="width: 18rem;">
  <%= image_tag("book_cover_placeholder.jpg", size: "200x400", alt: "Book cover", class: "mx-auto") %>
  <div class="card-body">
    <h5 class="card-title">The Brothers Karamazov</h5>
    <p class="card-text">The very best of the russian literature. Recomended by the New York times and considered a timeless mastepiece</p>
    <a href="#" class="btn btn-primary">Read Book</a>
  </div>
</div>
</div>

<div class="col">
<div class="card" style="width: 18rem;">
  <%= image_tag("book_cover.jpg", size: "200x400", alt: "Book cover", class: "mx-auto") %>
  <div class="card-body">
    <h5 class="card-title">The Brothers Karamazov</h5>
    <p class="card-text">The very best of the russian literature. Recomended by the New York times and considered a timeless mastepiece</p>
    <a href="#" class="btn btn-primary">Read Book</a>
  </div>
</div>
</div>

<div class="col">
<div class="card" style="width: 18rem;">
  <%= image_tag("book_cover_placeholder.jpg", size: "200x400", alt: "Book cover", class: "mx-auto") %>
  <div class="card-body">
    <h5 class="card-title">The Brothers Karamazov</h5>
    <p class="card-text">The very best of the russian literature. Recomended by the New York times and considered a timeless mastepiece</p>
    <a href="#" class="btn btn-primary">Read Book</a>
  </div>

</div>
</div>

<div class="col">
<div class="card" style="width: 18rem;">
  <%= image_tag("book_cover_placeholder.jpg", size: "200x400", alt: "Book cover", class: "mx-auto") %>  
  <div class="card-body">
    <h5 class="card-title">The Brothers Karamazov</h5>
    <p class="card-text">The very best of the russian literature. Recomended by the New York times and considered a timeless mastepiece</p>
    <a href="#" class="btn btn-primary">Read Book</a>
  </div>

</div>
</div>

</div>


